{
  "extends": ["stylelint-prettier/recommended"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "color-hex-case": "lower",
    "color-hex-length": 'short'
  }
}